
.wave1{
    max-width:400px;
    margin : 0 auto;
}

.menuItem{
    border-radius: 5px;
    background-color: #0E0B16;
    margin: 10px 10px 10px 10px;
    width: 200px;

}

.menuItem:hover{
    cursor: pointer;
}

.col-centered{
    float : none;
    margin: 0 auto;
}

.answers{
background-color: red;
}

.answer{
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
}

.answer:hover{
    cursor: pointer;
}


.artists{
    padding: 50px 5px 50px 5px;
    float: none;
    margin: 0 auto;
    max-width: 500px;
    background-color: red;
}
.artist{
    padding: 5px 5px 5px 0px;
    margin: 10px 10px 10px 10px;
}

.artS{
    font-weight: bold;
    color: #E7DFDD;
}

.hidden{
    display: none;
}

.shown{
    display: inline;
}

body{
    background: #0E0B16;
    background: linear-gradient(#E7DFDD,#0E0B16);
}

h2{
    margin-left: 100px ;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0E0B16; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #E7DFDD;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.icon-bar{
    background: #A239CA;
}

.glyphicon {
    font-size: 20px;
    margin-right: 5px;
    padding-right: 0px;
}


#add-artist-button{
    margin-bottom: 20px;
}

#add-song-button{
    margin-bottom: 20px;
}